
.column-list {
    width:100%; font-size:1rem;
    dl {
	display:flex; margin:0; padding:0;
	div.list-item {
	    padding:3px;
	    dt {
		float:left; max-width:90px; overflow:hidden; max-height:1rem;
	    }
	    dd {
		float:right;
	    }
	    .column-editor {
		width:100%;  clear:both; height:30px;
		label {
		    span { float:left; }
		    input[type=checkbox] {
			float:left;
		    }
		    input[type=text] {}
		}
	    }
	}
    }
}

.dependent-tabs {
    font-size:1rem;
    ul.tabs {
	li {float:left; border:1px solid #463e3e;
	    border-bottom:none;
	    list-style:none; margin-right:5px;
	    padding:2px
	   }

    }
    .output-area {
	clear:both; float:none;
    }
}


.python-displayer, .command-displayer {
    width:100%;
    height:100%;
    background: hsl(0deg 0% 13%);
    overflow:hidden;
    padding:16px;
    /*border:1px solid red; */
    pre {


	color: #41FF00 
		    
    }

}
.command-displayer {
    pre {
	overflow:hidden;
    }
}

.features 
{
    font-size: 1.7rem;

    & div 
    {
        padding: 0.5rem;
    }
}


.modal {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid black;
  padding: 16px;
  list-style: none;

  > li {
    padding: 8px;
  }
}


.command-viewer {
    border:1px solid ;
    color:black;
    font-size:1rem;
    .command-adder {
	// border:2px solid brown;
	span.column-name {
	    float:left;
	    display:block;
	    color:black;
	}
	fieldset {
	    float:left;
	}
	clear:both;
    }

    .operations-box {
	clear:left;
	display:flex;
	// height:80px;
	overflow:auto;
	h4 {
	    font-size:1em;
	    border:1px orange;
	    color:black;
		  
	}
	div {

	    overflow-x:scroll
	}
    }

}

.command-detail {
    // border: 4px solid teal;
    overflow:auto;
    button { float:left;}
    .arg-getters {
	// height:100%;
	// border:2px solid black;
	button {
	    float:left;
	}
	fieldset {
	    float:left
	}
	div.col-enum {
	    float:left;
	    width:800px;
	    overflow-x:scroll;

	    
	    table {
		td, th {border:1px solid black;}
	    }
	}
	
    }
}



.activeCol {background:gray}

.df-viewer .ag-theme-alpine {
    --ag-grid-size: 4px;
//    --ag-list-item-height: 20px;
 
    .ag-cell { width: inherit;

	     }
}


// .ag-theme-alpine {
//   @include ag-theme-alpine(
//     (
//       // use theme parameters where possible
//         alpine-active-color: #c066b2,
//     ag-grid-size: 4px,
//     ag-list-item-height: 20px

//     )
//   );
// }
/*
.important {
    .df-viewer {
    	}
    }
}
*/
